svg#freepik_stories-software-code-testing:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-software-code-testing.animated
  #freepik--speech-bubble-2--inject-24 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp,
    1.5s Infinite linear floating;
  animation-delay: 0s, 1s;
}

svg#freepik_stories-software-code-testing.animated
  #freepik--speech-bubble-1--inject-24 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp,
    1.5s Infinite linear floating;
  animation-delay: 0s, 1s;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: inherit;
  }
}

@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
